<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="empty-background">
        <div class="upper-pos"></div>
        <div class="bottom-pos"></div>
    </div>
    <div id="container" class="clearfix" @click="noselectmessage">
        <div class="left sub-container">
            <div class="user-bar clearfix"> 
                <div class="left">
                    <div class="flex v-align">
                        <img src="img/user_avatar.png" alt=""> 
                        <p class="username">Nome Utente</p>
                    </div>
                </div>
                <div class="right">
                    <i class="fas fa-circle-notch action-icon"></i>
                    <i class="fas fa-comment-alt action-icon"></i>
                    <i class="fas fa-ellipsis-v action-icon"></i>
                </div>
            </div> 
            <div class="notify-section clearfix"> 
                <i class="fas fa-bell-slash left ms-bell"></i>
                <div class="left">
                    <div class="notify-title">
                        Ricevi notifiche di nuovi messaggi
                    </div>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div> 
            <div class="search-bar">
                <i class="fas fa-search"></i>
                <input type="text" v-model="search" placeholder="Cerca o inizia una nuova chat">
            </div>
            <div class="contact-section"> 
                <div v-for="(contact,counter) in contacts" v-show="searched(counter)" class="contact clearfix" @click="setcurrent(counter)">
                    <img :src="getimagelocation(counter)" class="contact-image left" alt="0">
                    <div class="left">
                        <div class="contact-name">
                            {{contact.name}}
                        </div>
                        <div class="contact-last-message"  v-if="messagenumber(counter)">
                            {{getlastmessage(counter)}}
                        </div>
                    </div>
                    <span class="message-date right"  v-if="messagenumber(counter)">
                        {{getlastdate(counter)}}
                    </span>
                </div>
            </div> 
        </div>
        <div class="right sub-container">
            <div v-if="current != null">  
                <div class="user-bar clearfix">
                    <div class="left">
                        <div class="flex v-align">
                            <img :src="getimagelocation(current)" class="avatar" alt="">
                            <div class="conversation-author">
                                <div class="contact-name">
                                    {{contacts[current].name}}
                                </div>
                                <div class="contact-last-message" v-if="messagenumber(current)">
                                    Ultimo accesso il {{getlastdate(current)}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <i class="fas fa-search action-icon"></i>
                        <i class="fas fa-paperclip action-icon"></i>
                        <i class="fas fa-ellipsis-v action-icon"></i>
                    </div>
                </div> 
                <div class="conversation scroll">
                    <div v-if="contacts[current].messages != []">
                        <div v-for="(message,counter) in contacts[current].messages" :class="checksend(counter)">
                            <div class="message" @click.stop="selectmessage(counter)">
                                {{message.text}}
                                <span class="text-date">{{message.date}}</span>
                                <i class="fas fa-chevron-down ms-chevron"></i>
                                <div class="message-edit" v-if="selectedmessage == counter">
                                    <div class="message-info">
                                        Message info
                                    </div>
                                    <div class="delete-message" @click.stop="deletemessage(counter)">
                                        Delete message
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="typebar-section">   <!--Barra di scrittura ed invio messaggi-->
                    <span class="emoji-section">
                        <emoji-picker @emoji="insert" :search="searchemoji">
                            <div slot="emoji-invoker" slot-scope="{ events: { click: clickEvent } }" @click.stop="clickEvent">
                                <i class="far fa-smile typebar-icon"></i>
                            </div>
                            <div slot="emoji-picker" slot-scope="{ emojis, insert, display }" class="emoji-box">
                                <div>
                                    <div>
                                        <div v-for="(emojiGroup, category) in emojis" :key="category">
                                        <h5>{{ category }}</h5>
                                        <div>
                                            <span
                                            v-for="(emoji, emojiName) in emojiGroup"
                                            :key="emojiName"
                                            @click="insert(emoji)"
                                            :title="emojiName"
                                            >{{ emoji }}</span>
                                    </div>
                                </div>
                                </div>
                                </div>
                            </div>
                        </emoji-picker>
                    </span>
                    <input type="text" v-model="message" placeholder="Scrivi un messaggio" class="typebar"  @keyup.enter="sendmessage">
                    <i v-if="message.trim(` `) !=``" class="fas fa-paper-plane typebar-icon ms-send" @click="sendmessage"></i>
                    <i v-else class="fas fa-microphone typebar-icon"></i>
                </div>
            </div>
            <div v-else class="noconversation">
                <div class="noconv-box">
                    <img src="img/w-web.png" alt="">
                    <div class="noconv-title"> 
                        Mantieni il telefono connesso
                    </div>
                    <div class="noconv-text">
                        WhatsApp si collega al tuo telefono per sincronizzare i messaggi. Per ridurre l'utilizzo dei dati, collega il telefono al Wi-Fi.
                    </div>
                    <hr>
                    <div class="noconv-text">
                        Chiama da desktop con WhatsApp per Windows. <a href="#">Scaricala qui.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-emoji-picker/dist/vue-emoji-picker.js"></script>
    <script src="myscript.js"></script>
</body>
</html>