body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

i,
img{
    cursor: pointer;
}

.hidden{
    display: none;
}

.scroll{
    overflow-y: auto;
}

.empty-background{
    position:relative;
    z-index: 1;
}

.upper-pos{
    position: absolute;
    top:0;
    height: 150px;
    width: 100%;
    background-color: rgb(4,140,127);
}

.bottom-pos{
    position: absolute;
    top:150px;
    height: calc(100vh - 150px);
    width: 100%;    
    background-color: rgb(215,216,206);
}

#container{
    max-width: 1170px;
    margin: auto;
    z-index: 2;
    background-color: rgb(220,220,220);
    min-height: 80vh;
    position:relative;
    top:75px;
    box-shadow: 1px 1px 10px 1px rgb(160,160,160);
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.left{
    float:left;
}

.sub-container.left{
    width: 30%;
    box-shadow:1px 1px lightgrey;
    clip-path: inset(0px -1px 0px 0px);
}

.right{
    float: right;
}

.sub-container.right{
    width:70%;
}

.user-bar{
    background-color: rgb(245,245,245);
    padding: 10px 15px;
    height: 54px;
}

.flex{
    display: flex;
}
.v-align{
    vertical-align: middle;
}

.user-bar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: fill;
}

.username{
    margin-left:10px;
    display: inline-block;
} 

.action-icon{
    color:rgb(168,167,169);
    font-size:20px;
    padding:20px 5px 5px;
}

.notify-section{
    background-color: rgb(132,211,252);
    padding:15px;
}

.ms-bell{
    color:rgb(132,211,252);
    background-color:white;
    padding:10px;
    border-radius: 50%;
    font-size:20px;
}

.notify-title{
    font-size:13px;
    margin-left:20px;
    margin-top:5px;
    font-weight: bold;
}

.notify-section a{
    font-size: 12px;
    color:rgb(92,157,151);
    margin-left:20px;
}

.search-bar{
    background-color: rgb(232,231,231);
    color:rgb(168,167,169);
    position: relative;
    padding:5px 0;
}

.search-bar i{
    position:absolute;
    left:20px;
    top:17px;
    font-size: 15px;
}

.search-bar input{
    width:calc(100% - 100px);
    padding: 5px 40px;
    margin: 5px 10px;
    border: 1px solid rgb(168,168,168);
}

.contact-section{
    min-height: calc(80vh - 167px);
    background-color: white;
}

.contact{
    position: relative;
    border-top: 1px solid rgb(232,232,232);
    cursor: pointer;
}

.contact:hover{
    background-color: rgb(232,232,232);
}

.contact-image{
    padding:5px 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: fill;
}

.contact-name{
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.contact-last-message{
    font-size: 11px;
    color: rgb(168,168,168);
    padding-top:3px;
}

.message-date{
    font-size:10px;
    color: rgb(168,168,168);
    position:absolute;
    top:10px;
    right: 10px;
}

.conversation-author{
    display: inline-block;
}

.conversation{
    background-image:url("img/conversationbackground.jpg");
    background-repeat: repeat;
    background-size: contain;
    height: calc(80vh - 115px);
}

.noconversation{
    background-color:lightblue;
    height: calc(80vh + 24px);
}

.received{
    text-align: left;
    margin: 20px 40px;
}

.sent{
    text-align: right;
    margin: 20px 40px;
}

.received .message{
    background-color: white;
}

.sent .message{
    background-color: rgb(208,250,182);
}

.message{
    display: inline-block;
    min-width: 200px;
    max-width: 400px;
    position: relative;
    padding: 15px;
    border-radius: 10px;
    font-size: 13px;
    word-break: break-word;
    text-align: left;
}

.ms-chevron{
    display: none;
    padding-left:5px;
}

.sent .ms-chevron{
    background-color: rgb(208,250,182);
}

.received .ms-chevron{
    background-color: white;
}

.message:hover .ms-chevron{
    display: inline-block;
    position:absolute;
    top: 15px;
    right: 10px;
}

.message-edit{
    position:absolute;
    top: 25px;
    right:10px;
    background-color: white;
    border-radius: 5px;
    text-align: left;
    z-index:10;
}

.message-info,
.delete-message{
    padding: 10px 15px;
    cursor: pointer;
}

.text-date{
    font-size:8px;
    color: rgb(168,168,168);
    position:absolute; 
    bottom: 2px;
    right:5px;
}

.typebar-section{
    background-color: rgb(245,245,245);
    padding:15px 25px;
}

.typebar-icon{
    font-size: 20px;
    color: rgb(102,102,102);
}

.typebar{
    width:calc(100% - 107px);
    margin: auto 20px;
    padding: 10px;
    border:none;
}

.ms-send{
    font-size: 18px;
}

.emoji-section{
    position: relative;
    display: inline-block;
}

.emoji-box{
    position: absolute;
    top:-220px;
    background-color: white;
    width: 200px;
    height: 200px;
    overflow-y:auto;
    word-break: break-all;
}

